/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dist/
.temp/
.rn_temp/
node_modules/
.DS_Store
public/js/app.js
public/js/util.js
public/css/app.css
public/mix-manifest.json